body
{
background-color: linear-gradient(to right top, #33a0f1, #2591d9, #1882c1, #0a73aa, #006494);
background-image: url("preppy wallpaper.jpeg");
background-size: cover;
color: rgb(79, 41, 0);
font:xx-large;
} 

#user_name
{
    width: 200px;
    height: 25px;
}

